body{
    font-family: Oswald, Verdana, Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-left: 100px;
}


p {
    font-family: Quattrocento, Georgia, “Times New Roman”, serif;
    font-weight: 400;
    line-height: 1.4em;
}

h1, h2, h3, h4 {
    background-color: #3c275a;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
    text-decoration: none;
}

a {
    color: #453674;
    text-decoration: none;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

a:visited {
    color: #3c275a;
}